* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    
}
.nav-links li a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
}
.btn {
    background-color: #30B868;
    color: #ffffff;
    border: none; 
    cursor: pointer;
    font-size: 16px;
    padding: 0.7rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.btn-primary {
  background: #16a34a;
  color: #fff;
}

.btn-outline {
  border: 1px solid #16a34a;
  color: #16a34a;
}

.btn-dark {
  background: transparent;
  color: #fff;
}
.hero {
  position: relative;
  background: url("assets/hero-bg.png") no-repeat center center/cover;
  padding: 6rem 0;
  color: #fff;
    text-align: center;
    justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
}
.hero-content {
  position: relative;
  max-width: 1600px;
}
.badge {
  background: white;
  color: green;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.85rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
}
.hero h1 span {
  color: #22c55e;
}

.hero p {
  margin: 1.5rem 0;
  color: #cbd5f5;
}

.hero-buttons a {
  margin-right: 1rem;
}
.problems{
  padding: 4rem 0;
  background: #f9fafb;
  
}
.container{
  max-width: 1200px;
  margin:0 auto;
  padding: 0rem  1rem 1rem 1rem;
  text-align: center;
 
}
.problem-box{
 
  display: flex;
  font-size: 16px;
  gap: 32px;
  background-color: #ffffff;
  justify-content: space-around;
}
.problem-box img{
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 100%;
  padding: 4px;
}
.problem-heading h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 25px;
  padding-bottom: 25px;
}
.problem-heading .subtitle{
  font-size: 1rem;
  color: #6b7280;
}
.problem-box h3{
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.problem-box p{
  color: #6b7280;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.problem-card{
  padding: 2rem;
  text-align: center;
  box-shadow: #6b7280 0px 2px 8px 1px, #f8f9fb 0px 2px 2px 1px;
  justify-content: space-around;
}
.solution {
  padding: 5rem 0;
}

.solution-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 3rem;
}

.solution-image img {
  width: 100%;
  border-radius: 12px;
}

.section-label {
  color: #16a34a;
  font-weight: 700;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.solution ul {
  margin-top: 1.5rem;
}
.solution li {
  margin-bottom: 0.8rem;
  list-style: none;
}

.solution-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.solution-text p {
  max-width: 60%;
  color: #6b7280;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}


.think {
  margin-left: 100px;
  margin-right: 100px;
  background: #f8fafc;
  padding: 4rem 0;
  text-align: center;
}

.think small {
  display: block;
  margin-top: 1rem;
  color: #64748b;
}
.think h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
      }

.footer {
  background: #061557;
  color: #cbd5f5;
  padding: 3rem 0 1.5rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

footer p {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
}
.socials img{
  background-color: white;
  border-radius: 100%;
  padding: 2px;
}