.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    
}
.nav-links li a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
}
.btn {
    background-color: #36ea12;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}